# Android
Lebyy-Android/.gradle/
Lebyy-Android/build/
Lebyy-Android/app/build/
Lebyy-Android/local.properties
Lebyy-Android/*.iml
Lebyy-Android/.idea/
*.apk
!releases/*.apk

# iOS
Lebyy-iOS/build/
Lebyy-iOS/build-device/
Lebyy-iOS/DerivedData/
Lebyy-iOS/**/xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa

# OS / editor
.DS_Store
.idea/
*.swp
